{% extends "mainview/base.html" %}

{% block title %}
    <div class="content">
        <h1 style="color: #2e6c80;">Contact Details</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="content">
        <strong>itai.cohen@liteandfog.com</strong>
        <ul>
            <li> Lite+Fog GmbH </li>
            <li> Schwarze-Pumpe-Weg 16 </li>
            <li> c/o MotionLab.Berlin </li>
            <li> 12681 Berlin </li>
            <li> Germany </li>
        </ul>
    </div>

{% endblock %}